.menu-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 300px;
    justify-content: center;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

mat-icon {
    padding-right: 10px
}
.mat-expansion-panel-spacing {
    margin: 0;
}
::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 0 !important;
}
.exp-panel-nav-list-item {
    padding: 0%;
}

.menu-item {
    padding: 0 24px;
    border-radius: inherit;
    height: 48px;
}

.menu-item-span {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.menu-item-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
}