.menu-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 300px;
    justify-content: center;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 

mat-icon {
    padding-right: 10px
}
.mat-expansion-panel-spacing {
    margin: 0;
}

.exp-panel-nav-list-item {
    padding: 0%;
}