<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Al-Hamza Enterprises</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" class="app-sidenav">
      <mat-nav-list>
          <!-- <mat-list-item routerLink="#" class="menu-item">
              <mat-icon>home</mat-icon><span>Dashboard</span>
          </mat-list-item>
          <mat-divider></mat-divider> -->
          
          <mat-accordion mutli="false">
            <div *ngFor="let item of menuItems">
                <mat-list-item routerLink="{{item.link}}" class="menu-item" *ngIf="!item.list.length">
                    <span class="menu-item-span">
                        <mat-icon>{{item.icon}}</mat-icon><span class="menu-item-text">{{item.name}}</span>
                    </span>
                </mat-list-item>
                <mat-expansion-panel *ngIf="item.list.length">
                    <mat-expansion-panel-header><mat-icon>{{item.icon}}</mat-icon>{{item.name}}</mat-expansion-panel-header>
                    <mat-nav-list *ngFor="let subItem of item.list" class="exp-panel-nav-list-item">
                        <mat-divider></mat-divider>
                        <a mat-list-item routerLink={{subItem.link}}>{{ subItem.subMenu }}</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </div>
            <mat-divider></mat-divider>
          </mat-accordion>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet>
          <div class="app-sidenav-content">
              Components open here
          </div>
      </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>